
@import url(//fonts.googleapis.com/earlyaccess/notokufiarabic.css);
@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);


body{
    font-family: 'Noto Kufi Arabic', sans-serif;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6,.btn,.app-container .content-container .side-menu .navbar-nav li a{
    font-family: 'Noto Kufi Arabic', sans-serif;
}

.breadcrumb a{ font-family: inherit; }
.language-selector{ float: left !important;}

.ps__rail-y{
    right: 0 !important;
}

#search-input .select2{ width: 100% !important}